//componente de cards ul 
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style: none;
    justify-content: center;
    &__item{
        margin: 0.5rem;
        width: 15rem;
        height: 15rem;
        background-color: #1D1E2C;
        border-radius: 10px;
        box-shadow: 0 0 10px #1c1c1c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        .card{
            &__title{
                font-size: 1rem;
                font-weight: 400;
                color: white;
                text-transform: uppercase;
                text-align: center;
                border: 2px solid white;
                padding: 0 0.2rem;
                border-radius: 10px;
                background-color:#3c5aa6;
                &:hover{
                    cursor: pointer;
                }
                @media screen and (max-width: 630px) {
                    font-size: 1rem;
                }
            }
            &__img{
                width: 11rem;
                height: 11rem;
                object-fit: cover;
                border-radius: 10px;
                transition: all 0.8s ease-in-out;
                &:hover{
                    transform: scale(1.5);
                }
                @media screen and (max-width: 630px) {
                    width: 8rem;
                    height: 8rem;
                }
            }
        }
    }
}